
<div class="animated yt-loader-edit" *ngIf="Cargando"></div>

<div class="row" [hidden]="mostrarComponenteCodigoSeguridad">
  <div class="col-md-8 col-sm-12 col-xs-12 bg-white pt-4">
    <div class="card  mb-4 ">

      <div class="card-header bg-white py-3 ">
        <div class="row">
          <div class="col-md-6">
            <h6 class="m-0 font-weight-bold text-primary">Datos de la cuenta</h6>
          </div>
          <div class="col-md-6 text-right">
            <button *ngIf="form.mostrarBalanceMinimoCaja" class="btn btn-info border-0"
                    (click)="open(content)">
              <i class="fas fa-credit-card fa-sm fa-fw "></i> Tarjeta de claves
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <usuario-formulario #form (Usuario)="setearValorUsuario($event)"></usuario-formulario>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12 col-xs-12 bg-white pt-4 ">
    <div class="card  mb-4 ">
      <div class="card-header bg-white py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-dark">Permisos de usuarios</h6>
      </div>
      <div class="card-body">
        <div style="overflow:auto; height:550px; width:100%;">
          <app-permisos-tree-view #tree (Permisos)="guardarPermisos($event)" (mostrarBalanceMinimo)="mostrarBalanceMinimoEnFormulario($event)"></app-permisos-tree-view>
        </div>
      </div>
    </div>
  </div>

 

</div>

<app-usuario-codigo-seguridad [hidden]="!mostrarComponenteCodigoSeguridad"
                              (codigoValidado)="ValidarCodigoSeguridad($event)"
                              (OnClickbtnCancelar)="Cancelar($event)"
                              [(usuarioNombreCompleto)]="nombreCompletoUsuarioLogueado"
                              [(CorreoNotificadoCambioClave)]="correoUsuarioModificado"></app-usuario-codigo-seguridad>





<ng-template #content let-c="close" let-d="dismiss">
  <div class="row">
    <div class="col">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=" p-3  ">
        <div class="mt-3">
          <app-tarjeta-detalle [(usuarioID)]="ParamUsuarioID" ></app-tarjeta-detalle>
        </div>
      </div>
    </div>
  </div>
</ng-template>

