 <!-- Content Row -->
<div class="row">

  <div class="col-xl-3 col-md-6 mb-4" *ngFor="let item of items">
    <div [className]=" 'card shadow-sm h-100 py-2 ' + item.borderColorClass ">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div [className]=" 'text-xs font-weight-bold text-uppercase ' + item.titleColorClass ">{{item.title}}</div>
            <div *ngIf="item.tipoCard != 'money'"
                 [className]=" 'h5 mb-0 font-weight-bold ' + item.valueColorClass ">{{item.value}}</div>

            <div *ngIf="item.tipoCard == 'money'"
                 [className]=" ' h5 mb-0 font-weight-bold ' + item.valueColorClass ">{{item.value  | currency:'USD' }}</div>

            <div [className]=" 'text-xs '"><small class="text-muted">{{item.subTitulo}}</small></div>
          </div>
          <div class="col-auto ">
            <i [className]="item.iconColorClass + ' fas fa-2x ' + item.iconName"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row" *ngIf="items.length === 0">
  <table class="table">
    <tbody >
      <tr>
        <td class="td-4"><span></span></td>
        <td class="td-4"><span></span></td>
        <td class="td-4"><span></span></td>
        <td class="td-4"><span></span></td>
      </tr>
    </tbody>
  </table>
</div>

