

<div class="row" *ngIf="poseeTarjeta && !Cargando">

  <div class="col-md-12">
    <div class="form-group text-right">
      <button type="button" class="btn btn-success m-1" (click)="generarNuevasClavesATarjeta()"><i class="fas fa-exchange-alt"></i> Generar nuevas claves</button>
    </div>
  </div>

  <div class=" text-center col-md-12  rounded border-secondary border p-0 ">
    <h4 class="font-weight-bold  bg-primary text-white m-0 p-2">{{formatPaddingNumber(tarjeta.tarjetaID,6,'0') }}</h4>

    <table class=" table table-borderless" style=" border-collapse:unset !important;">
      <thead>
        <tr>
          <th scope="col" class="text-center">No. Clave</th>
          <th scope="col" class="text-center">No. Clave</th>
          <th scope="col" class="text-center">No. Clave</th>
          <th scope="col" class="text-center">No. Clave</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let token of ListaTokensTarjeta[0]; let i = index;">
          <td class="font-weight-bold p-0 h-auto text-center"><span class="badge badge-primary p-1 px-2 rounded-0 mr-3">{{i + 1 | number:'2.0-0'}}</span>{{token}}</td>
          <td class="font-weight-bold p-0 h-auto text-center"><span class="badge badge-primary p-1 rounded-0 mr-3">{{ i + 11 }}</span>{{ListaTokensTarjeta[1][i]}}</td>
          <td class="font-weight-bold p-0 h-auto text-center"><span class="badge badge-primary p-1 rounded-0 mr-3">{{ i + 21}}</span>{{ListaTokensTarjeta[2][i]}}</td>
          <td class="font-weight-bold p-0 h-auto text-center"><span class="badge badge-primary p-1 rounded-0 mr-3">{{ i + 31}}</span>{{ListaTokensTarjeta[3][i]}}</td>
        </tr>

      </tbody>
    </table>

  </div>

  <div class="col-md-12 mt-2">
    <div class="form-group text-right">
      <button type="button" *ngIf="btnGuardarCargando" class="btn btn-primary m-1 disabled" style="cursor:not-allowed !important"><i class="fas fa-spin fa-spinner"></i> Guardando </button>
      <button type="button" (click)="registrarTarjeta()" *ngIf="!btnGuardarCargando" class="btn btn-primary-light m-1"><i class="fas fa-check"></i> Guardar cambios</button>
    </div>
  </div>

</div>




<div class="row" *ngIf="!poseeTarjeta && !Cargando">
  <div class="col-md-12 col-sm-12">
    <div class="bg-white p-3 text-center">

      <div class="mt-3 text-center">
        <img src=".././../../assets/img/NoTieneTarjetaClave.svg" style="height:200px !important" class="img-fluid" alt="Responsive image">
      </div>
      <h5 class="text-dark mb-2 font-weight-bold ">Este usuario no posee una tarjeta, le puedes generar una nueva.</h5>
      <hr />
      <div class="form-group text-right mt-2">
        <button type="button" class="btn btn-primary-light m-1" (click)="generarTarjetaPrimeraVez()"><i class="fas fa-plus"></i> Generar nueva tarjeta</button>
      </div>
    </div>
  </div>
</div>


<div class="row" *ngIf="Cargando">
  <div class="col-md-4 offset-md-8">
    <div class="text">
      <div class="text-line"></div>
    </div>
  </div>

  <div class=" text-center col-md-12  rounded border-secondary border ">
    <div class="col-md-6 offset-md-3 ">
      <div class="text">
        <div class="text-line"></div>
      </div>
    </div>

    <div class="col-md-12 mt-4">
      <div class="row">
        <div class="col-md-3">
          <div class="text">
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text">
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text">
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text">
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
            <div class="text-line"></div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-4 offset-md-8">
    <div class="text">
      <div class="text-line"></div>
    </div>
  </div>

</div>




