<aside class="left-sidebar">
    <div class="d-flex no-block nav-text-box align-items-center">
        <span><img src="../assets/images/logo-icon.png" alt="elegant admin template"></span>
        <a class="nav-lock waves-effect waves-dark ml-auto hidden-md-down" (click)="toogleLockNav()"><i class="fa " [ngClass]="{'fa-toggle-on text-primary':lockNav, 'fa-toggle-off':!lockNav}"></i></a>
        <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" (click)="toogleLockNavClose()"><i class="ti-menu ti-close"></i></a>
    </div>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li *ngFor="let item of menu; index as i; " > 
                    <a class=" waves-effect waves-dark" [routerLink]="item.route"  [ngClass]="{'has-arrow':item.hasSubMenu}" (click)="item.subMenuOpen = !item.subMenuOpen" aria-expanded="false">
                        <i [ngClass]="item.icon"></i><span class="hide-menu">{{item.title}} 
                            <span class="badge badge-pill badge-cyan" *ngIf="item.hasBadge">{{item.numBadge}}</span></span></a>
                    <ul aria-expanded="false" class="collapse"  *ngIf="item.hasSubMenu" [ngClass]="{'in':item.subMenuOpen}">
                        <li *ngFor="let s of item.subMenus; index as i; ">
                            <a >{{s.title}} <i [ngClass]="s.icon"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-small-cap"></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>