<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Formulario de la cita</h4>
        <!--<h6 class="card-subtitle">Just add <code>form-material</code> class to the form that's it.</h6>-->
        <form class="form-row m-t-40">

          <!--cliente-->
          <div class="form-group col-md-12">
            <label for="inputEmail4">Cliente</label>
            <ng-select bindLabel="n"
                       bindValue="n"
                       [items]="items"
                       (change)="onSelectCliente($event)"
                       (clear)="onClearCliente($event)"
                       [ngClass]="{'form-control border-danger p-0' : submitted && f.clienteID.errors }"
                       notFoundText="No resultados"
                       formControlName="clienteID">
            </ng-select>
            <div *ngIf="submitted && f.clienteID.errors" class="text-danger small animated animated--fade-in">
              <div *ngIf="f.clienteID.errors.required  ">El campo es obligatorio</div>
            </div>
          </div>
          <div class="form-group col-12">
            <label for="example-email">Vehículo</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-group col-6">
            <label>Fecha de cita</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group col-6">
            <label>Hora de cita</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="form-group col-12">
            <label>Servicio</label>
            <input type="text" class="form-control form-control-line">
          </div>
          <div class="form-group col-12">
            <hr />
            <h5>Síntomas de la cita</h5>
          </div>
          <div class="form-group col-md-8">
            <label>Detalle</label>
            <input type="password" class="form-control">
          </div>
          <div class="form-group col-md-4">
            <label>Categoría</label>
            <input type="text" class="form-control" placeholder="">
          </div>
          <div class="col-md-12 text-center">
            <button class="btn btn-lg btn-success rounded-circle" type="button"><i class="fa fa-plus"></i></button>
          </div>
          <div class="form-group text-right col-md-12">
            <hr />
            <button class="btn btn-light m-1" routerLink="/servicios/citas" type="button"><i class="fas fa-times"></i> Cancelar</button>
            <button class="btn btn-info m-1" type="submit"><i class="fas fa-check"></i> Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
