<vex-secondary-toolbar current="PL C">
    <vex-breadcrumbs [crumbs]="['PR', 'PL C']" class="flex-auto"></vex-breadcrumbs>

    <!--<button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>-->
</vex-secondary-toolbar>
<div class="container">
    <vex-page-layout-content vexContainer>


        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" class="pt-3 ">
            <div @fadeInUp class="card" fxFlex="auto">
                <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="title m-0">PL C</h2>
                </div>


                <div class="row pt-2 ">
                    <div class="col-md-3  m-2">
                        <mat-label>Procedencia</mat-label>
                        <ng-select [items]="marcaProcedencia" bindLabel="nombre" groupBy="grupo"
                            [(ngModel)]="selectedProcedencia">
                           
                        </ng-select>
                    </div>
                    
                    <div class="col-md-3 mt-2">
                        <mat-label>Año</mat-label>
                        <ng-select [items]="years" bindLabel="name" bindValue="name" 
                            [(ngModel)]="selectedAnio">
                            <ng-template ng-optgroup-tmp let-item="item">
                                {{item.country || 'Unnamed group'}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-tab-group>
                            <mat-tab [label]="item.nombreProd" *ngFor="let item of productos; let i = index;">
                                <div class="p-6">
                                    <div class="row">
                                        <div class="col">
                                            <table mat-table [dataSource]="item.plComprasValores">

                                                <ng-container matColumnDef="tipo" sticky>
                                                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                                                    <td mat-cell *matCellDef="let element" style="font-weight:800;">
                                                        {{element.tipo}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="enero">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Enero
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.enero"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="febrero">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Febrero
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.febrero"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="marzo">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Marzo
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.marzo"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="abril">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Abril
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">

                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.abril"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="mayo">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;"> Mayo
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">

                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.mayo"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="junio">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Junio
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.junio"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>



                                                <ng-container matColumnDef="julio">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Julio
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.julio"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>



                                                <ng-container matColumnDef="agosto">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Agosto
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.agosto"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>



                                                <ng-container matColumnDef="septiembre">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Septiembre </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.septiembre"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="octubre">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Octubre
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.octubre"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="noviembre">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Noviembre </th>
                                                    <td mat-cell *matCellDef="let element" style="font-weight:800;">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.noviembre"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="diciembre">
                                                    <th mat-header-cell *matHeaderCellDef style="font-weight:800;">
                                                        Diciembre </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-form-field appearance="outline" class="vex-flex-form-field"
                                                            color="primary">
                                                            <input matInput [(ngModel)]="element.diciembre"
                                                                (ngModelChange)="guardarLocal()">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true">
                                                </tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>

            </div>
        </div>





    </vex-page-layout-content>
</div>