<vex-secondary-toolbar current="PL C">
    <vex-breadcrumbs [crumbs]="['PR', 'PL C']" class="flex-auto"></vex-breadcrumbs>

    <!--<button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>-->
</vex-secondary-toolbar>
<div class="container">
    <vex-page-layout-content vexContainer>


        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" class="pt-3 ">
            <div @fadeInUp class="card" fxFlex="auto">
                <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
                    <h2 class="title m-0">PL C</h2>
                </div>


                <div class="row pt-2 ">
                    <div class="col-md-3  m-2">
                        <mat-label>Procedencia</mat-label>
                        <ng-select [items]="marcaProcedencia" bindLabel="nombre" groupBy="grupo"
                            [(ngModel)]="selectedProcedencia">

                        </ng-select>
                    </div>
                        
                    <div class="col-md-3 m-2">
                        <mat-label>Año</mat-label>
                        <ng-select [items]="years" bindLabel="name" bindValue="name" [(ngModel)]="selectedAnio">
                            <ng-template ng-optgroup-tmp let-item="item">
                                {{item.country || 'Unnamed group'}}
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-tab-group>
                            <mat-tab [label]="item.articulo" *ngFor="let item of productos; let i = index;">
                                <div class="p-6">
                                    <div class="row">
                                        <div class="col">

                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th *ngFor="let col of displayedColumns">{{col}}</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr *ngFor="let val of item.rundowns">
                                                        <td>{{val.rundown}}</td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.enero">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.febrero">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.marzo">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.abril">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.mayo">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.junio">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.julio">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.agosto">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.septiembre">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.octubre">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.noviembre">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field appearance="standard"
                                                                class="vex-flex-form-field" color="primary">
                                                                <input matInput [(ngModel)]="val.valores.diciembre">
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>


                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>

            </div>
        </div>





    </vex-page-layout-content>
</div>