<div class="animated yt-loader" *ngIf="Cargando"></div>





<div class="row">
  <div class="col-md-12 bg-white bd bdrs-3 p-4">
    <div class="row mb-3">

      <div class="col ">
        <h4 class="c-grey-900 mB-20">Usuarios </h4>
      </div>
      <div class="col ">
      </div>
      <!--<div class="col  text-right">
        <button type="button" class="btn btn-primary-light" routerLink="/usuarios/0"><i class="fas fa-plus"></i> Nuevo</button>
      </div>-->

    </div>
    <div class="row">
      <div class="col ">
        <input [(ngModel)]="Search" #ctrl="ngModel" (keyup)="getUsuarios()" type="text" class="form-control" placeholder="Buscar por ID | Usuario | Nombre | Apellido">
      </div>

    </div>
    <div class="row pt-3">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tarjeta</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of usuarios">

          <tr>
            <th>{{usuario.usuarioID}}</th>
            <th>{{usuario.usuUserName}}</th>
            <td>{{usuario.usuNombre}}</td>
            <td>{{usuario.usuApellido}}</td>
            <td>
              <h5><span class="badge badge-info"><i class="fas fa-credit-card"></i> 2019365895656 </span></h5>
              <h5><span class="badge badge-light"><i class="fas fa-credit-card"></i> NO TIENE TARJETA </span></h5>
            </td>
            <td>
              <button type="button" class="btn text-white btn-primary-light btn-sm m-1" routerLink="tarjeta/{{usuario.usuarioID}}"><i class="fas fa-pencil-alt"></i> </button>
            </td>
          </tr>

        </tbody>

        <tbody *ngFor="let loading of arrayLoading">
          <tr>
            <td class="td-3"><span></span></td>
            <td class="td-3"><span></span></td>
            <td class="td-3"><span></span></td>
            <td class="td-3"><span></span></td>
            <td class="td-3"><span></span></td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="row pt">
      <div class="col-md-8 col-xs-12 ">
        <ngb-pagination [collectionSize]="paginaTotalRecords" [(page)]="paginaNumeroActual" [pageSize]="paginaSize" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getUsuarios()">
        </ngb-pagination>
      </div>

      <div class="col-md-4 text-right d-none d-md-block  ">
        <select class="form-control d-block" name="paginaSize" [(ngModel)]="paginaSize" (change)="getUsuarios()">
          <option [ngValue]="5">5 registro por pagina</option>
          <option [ngValue]="10">10 registro por pagina</option>
          <option [ngValue]="15">15 registro por pagina</option>
        </select>
      </div>
    </div>

  </div>
</div>


<ng-template #DeleteConfirmationModal let-modal>
  <div class="animated yt-loader-edit" *ngIf="CargandoDelete"></div>

  <div class="modal-body text-center ">
    <p class="text-center mt-5"> <i class="fas fa-3x fa-exclamation-triangle text-danger font-weight-bold"></i> </p>
    <p>
      <strong style="color:black;">
        ¿Estás seguro que quieres completar esta operación?
      </strong> <br />
      <span class="text-danger text-sm-center">Esta operación no puede ser revertida.</span>
    </p>
  </div>

  <div class="modal-footer border-0">
    <button type="button" class="btn btn-light" (click)="CloseConfirmacionModal()">Cancelar</button>
    <button type="button" class="btn btn-danger " ngbAutofocus (click)="deleteUsuario() ">Confirmar</button>
  </div>
</ng-template>

